{% extends "base.html" %}
{% block page_title %}
Staff Management
{% endblock %}
{% block content %}

<style>
body {
  height: 100vh;

  background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(41, 87, 157, 0.91)), 
    url('/static/images/DJI_0094.JPG');

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  overflow-x: hidden;
}

.glass {
  background: rgba(12, 137, 254, 0.37);
  backdrop-filter: blur(18px);
  border-radius: 18px;
  padding: 20px;
  color: white;
}

.table {
  color: white;
}
</style>

<div class="container-fluid mt-4">

<div class="glass">

<table class="table">
<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Role</th>
</tr>

{% for u in users %}
<tr>
<td>{{u[0]}}</td>
<td>{{u[1]}}</td>
<td>{{u[2]}}</td>
<td>{{u[3]}}</td>
</tr>
{% endfor %}

</table>

</div>

</div>

{% endblock %}